section.footer
  .footer-box
    a.backtotop(href='#home')
      img(src='./assets/img/backtotopwhite.png', alt='')
    
    .copyright  
      p Copyright Change Design Studio 2015     
      
      p Created by Change Design Studio
    
    
