section.intro#home
  .flex.flex--center
    .col-2
      .home-branding
        .logo
          img(src="/assets/img/homelogo.png", alt="")
        .cds
          .border-box
            h2 A CREATIVE DESIGN STUDIO
          .spheres
            h3.spheres interiors, graphics, websites, branding
            
        .socialmedia
          .pinterest
            img(src="/assets/img/pinterest-logo-white.png", alt="")
          .facebook
            img(src="/assets/img/facebook-logo-white.png", alt="")
          .mail
            img(src="/assets/img/email-logo-white.png", alt="")

        
        
      
