script(src='/assets/js/works-appear.js')
  
section.works-appear#portfolio
  .work-container
    .work-header
      .cds
        .border-box
          hr
          .title
            h3 PORTFOLIO
            em Here is a bit of my Portfolio
          hr
    .work-belt
      .workblocks
        figure.figure2.work1
          img(src='./assets/work/proj-1/HouseKeal Kitchencoversmall.jpg', alt='')               
          figcaption.heading
            h3.title HOUSE KEAL
                       
        figure.figure2.work2
          img(src='./assets/work/proj-2/HouseGilsonfinalcoversmall.jpg', alt='')              
          figcaption.heading
            h3.title HOUSE GILSON
               
        figure.figure2.work3
          img(src='./assets/work/proj-3/HouseKealCover.jpg', alt='')                  
          figcaption.heading
            h3.title HOUSE MAGANYA

        figure.figure2.work4
          img(src='./assets/work/proj-4/coverfinal.jpg', alt='')                 
          figcaption.heading
            h3.title MOOIPLAAS
           
        figure.figure2.work5
          img(src='./assets/work/proj-5/oumacover.jpg', alt='')              
          figcaption.heading
            h3.title OUMA RENE'S
            
        figure.figure2.work6
          img(src='./assets/work/proj-1/HouseKealCover.jpg', alt='')                   
          figcaption.heading
            h3.title HEATHMANS

        figure.figure2.work7
          img(src='./assets/work/proj-1/HouseKealCover.jpg', alt='')                 
          figcaption.heading
            h3.title SHELL GARAGE
          
        figure.figure2.work8
          img(src='./assets/work/proj-1/HouseKealCover.jpg', alt='')                
          figcaption.heading
            h3.title COTTAGE BRYDEN
                        
        figure.figure2.work9
          img(src='./assets/work/proj-1/HouseKealCover.jpg', alt='')                
          figcaption.heading
            h3.title GRAPHIC/LOGO DESIGN

        figure.figure2.work10
          img(src='./assets/work/proj-10/logocover.png', alt='')               
          figcaption.heading
            h3.title MOOIPLAAS - CORP. IDENTITY
         
        figure.figure2.work11
          img(src='./assets/work/proj-1/HouseKealCover.jpg', alt='')                   
          figcaption.heading
            h3.title SANTAI SUMUR TIGA - WEB DESIGN
         
        figure.figure2.work12
          img(src='./assets/work/proj-1/HouseKealCover.jpg', alt='')                
          figcaption.heading
            h3.title Stationery Design
                
      .works-wrap
        .works-container
          .works-flex-container
            .works-return
              img(src='./assets/img/BACK-WHITE.png', alt='')
            .work-logo          
              h4.project-title
            .project-load
