script(src='/assets/js/works.js')
  
section.works
  .work-container
    .work-header
      .cds
        .border-box
          hr
          .title
            h3 PORTFOLIO
            em Here is a bit of my Portfolio
          hr
      .work-belt
        .workblocks-wrap
          .work-grid.workblocks
            figure.figure2.work1
              img(src='./assets/work/proj-1/HouseKeal Kitchencoversmall.jpg', alt='')               
              figcaption.heading
                strong House Keal
                           
            figure.figure2.work2
              img(src='./assets/work/proj-2/HouseGilsonfinalcoversmall.jpg', alt='')              
              figcaption.heading
                strong House Gilson
                   
            figure.figure2.work3
              img(src='./assets/work/proj-3/HouseKealCover.jpg', alt='')                  
              figcaption.heading
                strong House Maganya

            figure.figure2.work4
              img(src='./assets/work/proj-4/coverfinal.jpg', alt='')                 
              figcaption.heading
                strong Mooiplaas - Decorex Stand Design
               
            figure.figure2.work5
              img(src='./assets/work/proj-5/oumacover.jpg', alt='')              
              figcaption.heading
                strong Ouma Rene&apos;s - Branding
                
            figure.figure2.work6
              img(src='./assets/work/proj-1/HouseKealCover.jpg', alt='')                   
              figcaption.heading
                strong Heathmans - Branding

            figure.figure2.work7
              img(src='./assets/work/proj-1/HouseKealCover.jpg', alt='')                 
              figcaption.heading
                strong Shell Garage - Drafting
              
            figure.figure2.work8
              img(src='./assets/work/proj-1/HouseKealCover.jpg', alt='')                
              figcaption.heading
                strong Cottage Bryden - Drafting
                            
            figure.figure2.work9
              img(src='./assets/work/proj-1/HouseKealCover.jpg', alt='')                
              figcaption.heading
                strong Logo Design

            figure.figure2.work10
              img(src='./assets/work/proj-10/logocover.png', alt='')               
              figcaption.heading
                strong Mooiplaas - Corporate Identity
             
            figure.figure2.work11
              img(src='./assets/work/proj-1/HouseKealCover.jpg', alt='')                   
              figcaption.heading
                strong Santai Sumurtiga Resort - Web Design
             
            figure.figure2.work12
              img(src='./assets/work/proj-1/HouseKealCover.jpg', alt='')                
              figcaption.heading
                strong Stationery Design
                
        .works-wrap
          .works-container
            .works-flex-container
              .works-return
                img(src='./assets/img/BACK-WHITE.png', alt='')
              .work-logo          
                h4.project-title
              .project-load
