script(src='/assets/js/services.js')
  
section.services#services
  .serv-container
    .serv-header
      .cds
        .border-box
          hr
          .title
            h3 SERVICES
            em These are all the services we offer
          hr
      .services-belt
        .servicesblocks-wrap
          .serv-grid.flex.flex--space-around.servicesblocks
            figure.serv1.serv.id.figure2
              .icon
                img(src="/assets/img/I-WHITE.png", alt="")
              .title
                h2 INTERIORS
              .desc
                p Design is about more than just aesthetics, it is about the interaction between the user and the environment and finding a creative solution that is all caters to both. It&rsquo;s about creating a lifestyle.
              .cta.readmore
                p Read More
            figure.serv2.serv.d.figure2
              .icon
                img(src="/assets/img/D-WHITE.png", alt="")
              .title
                h2 DRAFTING
              .desc
                p Our drafting service is focussed on the drafting of technical and structural building plans prepared for municipal council submission. We make this process as painless and efficient as possible.   
              .cta.readmore                 
                p Read More
            figure.serv3.serv.gd.figure2
              .icon
                img(src="/assets/img/G-WHITE.png", alt="")
              .title
                h2 GRAPHIC DESIGN
              .desc
                p Our Graphic Design division is capable of creating and designing any graphic design need a client might have. Give us your ideas and we will creatively illustrate it for you. We crave the NEW!!!                   
              .cta.readmore   
                p Read More
            figure.serv4.serv.ci.figure2
              .icon
                img(src="/assets/img/CI-WHITE.png", alt="")
              .title
                h2 CORPORATE IDENTITY
              .desc
                p Does your business need a face lift? We offer a full corporate identity development and design service. We will update the look and feel of your business to effectively communicate who you are!!!
              .cta.readmore   
                p Read More
            figure.serv5.serv.wd.figure2
              .icon
                img(src="/assets/img/W-WHITE.png", alt="")
              .title
                h2 WEB DESIGN
              .desc
                p Take your business to the next level with a professional website tailor made for you, giving you the neccesary online exposure you need to give your business that something special.
              .cta.readmore   
                p Read More
            figure.serv6.serv.ws.figure2
              .icon
                img(src="/assets/img/WS-WHITE.png", alt="")
              .title
                h2 WEDDING STATIONERY
              .desc
                p We provide a wedding stationery design service that will help you make your special day even more special. We will design all stationery and signage and see that the finer details are ever present.
              .cta.readmore 
                p Read More
        .services-wrap
          .services-container
            .services-flex-container
              .services-return
                //-img(src='./assets/img/BACK-WHITE.png', alt='')
                h3 BACK
              .serv-logo          
              h2.serv-title
              .serv-load
