section.works-appear
  height: auto
  background:
    image: linear-gradient(grey, black)
  background-attachment: fixed
  background-position: center center
  background-size: cover
  overflow: hidden
  width: 100%
  position: relative
  z-index: 9999

  .work-header
    text-align: center

  .work-container
    width: 100%
    .cds
      display: flex
      flex-direction: column
      align-items: center
      text-align: justify
      .border-box
        display: flex
        flex-direction: row
        margin-bottom: 60px
        .title
          display: flex
          flex-direction: column
          align-items: center
          h3
            font-size: 2em
            letter-spacing: 0.1em
          em
            color: white
        hr
          width: 200px
          border-top: 0px solid white
          margin-top: 55px

    .work-belt
      width: 100%
      display: flex
      align-items: center
      justify-content: center
      .workblocks
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center
        flex-wrap: wrap
        max-width: 960px
        margin: 0px 15px 60px 15px
        figure.figure2
          margin: 0
          padding: 0
          background-position: center center
          background-size: cover
          width: 300px
          height: 200px
          text-align: center
          opacity: 0
          transform: translateX(20px)
          transition: all 0.3s ease-in-out
          overflow: hidden
          &.is-showing
            opacity: 1
            transform: translateX(0px)
          img
            width: 100%
            display: block
            transform: scale(1)
            transition: all 0.3s ease-in-out
          &:hover
            figcaption
              cursor: pointer
              opacity: 0.6
            img
              transform: scale(1.1)
      figcaption.heading
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: 100%
        color: white
        position: absolute
        bottom: 0px
        opacity: 0
        background: black
        transition: all 0.3s ease-in-out
        h3.title
          margin: 0
          padding: 0





      .works-wrap
        .works-container
          display: none
          .works-flex-container
            display: flex
            align-items: center
            flex-direction: column
            margin: 0px 15px 60px 15px
            padding: 10px
            background-color: rgba(255,255,255,0.2)
            .works-return
              width: 100%
              text-align: left
              img
                height: 50px
                width: 50px
                cursor: pointer
                position: absolute
                &:hover
                  opacity: 0.5
            .work-logo
              img
                height: 60px
                width: 60px
            .work-load
              text-align: justify
